In [1]:
import pandas as pd
import xlwings as xw

## Industry

In [2]:
bs_industry_data = pd.read_excel(r'../Raw_Data/Valuation_data_edited V2.xlsx', sheet_name = "Balance Sheet", header = 194)
bs_industry_data = bs_industry_data.iloc[:189]
bs_industry_data = bs_industry_data[["Variable", "Coef"]]
bs_industry_data = bs_industry_data.rename(columns = {"Variable": "Balance Sheet Industry", "Coef": "Balance Sheet Industry Coefficient"})

bs_industry_data

           Balance Sheet Industry  Balance Sheet Industry Coefficient
0                     AGRICULTURE                              0.9558
1                        FOOD NEC                              1.3333
2                   MEAT PRODUCTS                              1.1618
3    CANNED FROZEN PRESERVED FOOD                              0.8555
4                     SOFT DRINKS                              1.5450
..                            ...                                 ...
184                  OFFICE REITS                              1.0364
185             HEALTH CARE REITS                              1.1821
186             RESIDENTIAL REITS                              1.1421
187                  RETAIL REITS                              1.0257
188             SPECIALIZED REITS                              1.3994

[189 rows x 2 columns]

## Item

In [3]:
bs_item_data = pd.read_excel(r'../Raw_Data/Valuation_data_edited V2.xlsx', sheet_name = "Balance Sheet", header = 70)
bs_item_data = bs_item_data.iloc[0:122, 0:2]
bs_item_data = bs_item_data.rename(columns = {"Variable":"Balance Sheet Item", "Coef":"Balance Sheet Item Coefficient"})

bs_item_data

          Balance Sheet Item Balance Sheet Item Coefficient
0                       cash                         1.1613
1          trade_receivables                         0.9316
2     other_receivables_debt                         0.7642
3    raw_materials_inventory                         0.8728
4           work_in_progress                         0.9607
..                       ...                            ...
117          book_dilution_2                         0.7767
118          book_dilution_p                         0.3893
119  consolidated_book_delta                         0.6909
120      acc_adjustment_done                        -0.4146
121      book_quality_growth                         1.3522

[122 rows x 2 columns]

## Company Data

### DBS

In [4]:
# guide: https://davidhamann.de/2018/02/21/read-password-protected-excel-files-into-pandas-dataframe/

# dbs_data = pd.read_excel(r'../Raw_Data/Valuation_data.xlsx', sheet_name = "DBS_summary")
# dbs_data

dbs_path = '../Raw_Data/Valuation_data.xlsx'
dbs_workbook = xw.Book(dbs_path)
dbs_worksheet = dbs_workbook.sheets["DBS_summary"]

## Industry Calculations

In [5]:
dbs_bs_industry_data = dbs_worksheet["A16:E20"].options(pd.DataFrame).value
dbs_bs_industry_data = dbs_bs_industry_data.iloc[1:]
dbs_bs_industry_data = dbs_bs_industry_data.reset_index()
dbs_bs_industry_data = dbs_bs_industry_data.rename(columns = {"Variable": "Industry"})

dbs_bs_industry_data

,Industry,Per share,Apprai- sal,Contri- bution,Total
0,BANKS,34.128,0.723,24.666,NaN
1,SECURITIES BROKERS & DEALERS,15.052,0.779,11.722,NaN
2,Total,NaN,NaN,NaN,36.388

In [6]:
# match master balance sheet with dbs data

dbs_industry_merge = pd.merge(bs_industry_data, dbs_bs_industry_data, how = "right", left_on = ["Balance Sheet Industry"], right_on = ["Industry"])

dbs_industry_merge

,Balance Sheet Industry,Balance Sheet Industry Coefficient,Industry,Per share,Apprai- sal,Contri- bution,Total
0,BANKS,0.9579,BANKS,34.128,0.723,24.666,NaN
1,NaN,NaN,SECURITIES BROKERS & DEALERS,15.052,0.779,11.722,NaN
2,NaN,NaN,Total,NaN,NaN,NaN,36.388

In [7]:
dbs_industry_merge = dbs_industry_merge.drop(["Balance Sheet Industry"])

dbs_industry_merge

KeyError: "['Balance Sheet Industry'] not found in axis"

## Items Calculations

In [ ]:
dbs_bs_items_data = dbs_worksheet["A22:E58"].options(pd.DataFrame).value
dbs_bs_items_data